services:
  api:
    build: .
    container_name: "user-rest-api-aws"
    environment:
      - LOG_LEVEL=DEBUG
      - AWS_PROFILE=${AWS_PROFILE}
      # - AWS_SHARED_CREDENTIALS_FILE=/home/appuser/.aws/credentials
      # - AWS_CONFIG_FILE=/home/appuser/.aws/config
    ports:
      - "8080:8080"
    networks:
      - fullstack
    volumes:
      - ~/.aws:/home/appuser/.aws:ro

networks:
  fullstack:
    driver: bridge
